<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active carousel-img bg-img-1">
            <div class="bg-overlay"></div>
            <div class="carousel-caption d-md-block text-center">
                <h1 class="animated-FadeInUp animatedFadeInUp fadeInUp">WELCOME TO THE WORLD OF POLO</h1>
                <p class="animated-FadeInUp animatedFadeInUp fadeInUp"> Say hello to the smartest and most flexible bootstrap template. Polo is an powerful template that
                    can build any type of websites, and quite possibly the only one you will ever need.</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="sdo-video-wrap">
                <video id="bgvid" class="sdo-video embed-responsive-item" autoplay loop muted playsInline>
                    <source src="assets/videos/pexels-waves.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="bg-overlay"></div>
            <div class="carousel-caption d-md-block text-start">
                <h1 class="animated-FadeInUp animatedFadeInUp fadeInUp">220+ Layout Demos</h1>
                <p class="animated-FadeInUp animatedFadeInUp fadeInUp">POLO is packed with 220+ pre-made layouts that allow you to quickly jumpstart your project.
                    Completely customizable for creating your own designs.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Carousel wrapper -->
<!-- <div
  id="sdoLandingCarousel"
  class="carousel slide carousel-fade container-fluid"
  data-bs-ride="carousel"
> -->
<!-- Indicators -->
<!-- <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#sdoLandingCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#sdoLandingCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
  </div> -->

<!-- Inner -->
<!-- <div class="carousel-inner"> -->
<!-- Single item -->
<!-- <div class="carousel-item active container-fluid">
      <img class="img-fluid sdo-img" src="assets/images/notgeneric_bg3.jpg">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>
          Nulla vitae elit libero, a pharetra augue mollis interdum.
        </p>
      </div>
    </div> -->

<!-- Single item
    <div class="carousel-item container-fluid">
      <video class="sdo-video" autoplay loop muted>
        <source src="assets/videos/pexels-waves.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div> -->
<!-- Inner -->

<!-- Controls -->
<!-- <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#sdoLandingCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#sdoLandingCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<!-- Carousel wrapper -->