<div class="container welcome-section">
    <div class="heading-text heading-section text-center m-b-40 animated-FadeInUp animatedFadeInUp fadeInUp visible">
        <h2 class="border-center">WELCOME TO THE WORLD OF POLO</h2>
        <span class="lead">Create amam ipsum dolor sit amet, Beautiful nature, and rare feathers!.</span>
    </div>
    <div class="row animated-FadeInUp animatedFadeInUp fadeInUp visible">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/images/responsive-1.jpg" alt="Welcome to POLO">
        </div>
    </div>
</div>