<div class="sdo-app-container container-fluid body-inner">
  <div id="scrollTop" (click)="scrollToTop()" class="scroll-top-icon d-none">
    <i class="fa fa-thin fa-chevron-up"></i>
  </div>
  <div class="nav-container container-fluid">
    <nav id="navbar" class="container-fluid navbar navbar-expand-lg navbar-transparent bg-transparent text-white">
      <a class="navbar-brand text-white  mx-auto" href="#">POLO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LAYOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FEATURES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ELEMENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PAGES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SHOP</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="landing-slider-container">
    <sdo-landing-caraousel></sdo-landing-caraousel>
  </div>
  <section>
    <sdo-welcome-section></sdo-welcome-section>
  </section>
  <section class="background-grey">
    <sdo-what-we-do-section></sdo-what-we-do-section>
  </section>
  <section>
    <sdo-services-section></sdo-services-section>
  </section>
  <section class="p-0">
    <sdo-counter-section class="text-light"></sdo-counter-section>
  </section>
  <section class="background-grey">
    <sdo-our-blog-section></sdo-our-blog-section>
  </section>
  <section>
    <sdo-clients-section></sdo-clients-section>
  </section>
  <section class="background-grey">
    <sdo-teams-section></sdo-teams-section>
  </section>
  <footer>
    <sdo-footer-section></sdo-footer-section>
  </footer>
</div>