.what-we-do-section-container {
    .item {
        h4 {
            font-size: 18px;
            line-height: 1.68421053em;
            font-weight: 600;
        }

        p {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            text-transform: none;
            line-height: 1.7;
            letter-spacing: 0;
            color: #777;
            font-family: "Poppins", sans-serif;
        }
    }
}