<div class="teams-section container">
    <div class="heading-text heading-section text-center">
        <h2 class="border-center">MEET OUR TEAM</h2>
        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.
        </p>
    </div>
    <div class="row team-members">
        <div class="col-lg-3">
            <div class="team-member">
                <div class="team-image">
                    <img src="assets/images/6.jpg">
                </div>
                <div class="team-desc">
                    <h3>Alea Smith</h3>
                    <span>Software Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="team-member">
                <div class="team-image">
                    <img src="assets/images/7.jpg">
                </div>
                <div class="team-desc">
                    <h3>Ariol Doe</h3>
                    <span>Software Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="team-member">
                <div class="team-image">
                    <img src="assets/images/8.jpg">
                </div>
                <div class="team-desc">
                    <h3>Emma Ross</h3>
                    <span>Software Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="team-member">
                <div class="team-image">
                    <img src="assets/images/9.jpg">
                </div>
                <div class="team-desc">
                    <h3>Victor Loda</h3>
                    <span>Software Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                </div>
            </div>
        </div>
    </div>
</div>